---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=<OMDB_API_KEY>&t=Terminator&y=2019
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 26 Mar 2020 20:40:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Terminator: Dark Fate","Year":"2019","Rated":"R","Released":"01
        Nov 2019","Runtime":"128 min","Genre":"Action, Adventure, Sci-Fi","Director":"Tim
        Miller","Writer":"James Cameron (story by), Charles H. Eglee (story by), Josh
        Friedman (story by), David S. Goyer (story by), Justin Rhodes (story by),
        David S. Goyer (screenplay by), Justin Rhodes (screenplay by), Billy Ray (screenplay
        by), James Cameron (based on characters created by), Gale Anne Hurd (based
        on characters created by)","Actors":"Linda Hamilton, Arnold Schwarzenegger,
        Mackenzie Davis, Natalia Reyes","Plot":"An augmented human and Sarah Connor
        must stop an advanced liquid Terminator from hunting down a young girl, whose
        fate is critical to the human race.","Language":"English, Spanish","Country":"China,
        Spain, Hungary, USA","Awards":"1 win & 5 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BOWExYzVlZDgtY2E1ZS00NTFjLWFmZWItZjI2NWY5ZWJiNTE4XkEyXkFqcGdeQXVyMTA3MTA4Mzgw._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"6.3/10"},{"Source":"Rotten Tomatoes","Value":"70%"},{"Source":"Metacritic","Value":"54/100"}],"Metascore":"54","imdbRating":"6.3","imdbVotes":"103,700","imdbID":"tt6450804","Type":"movie","DVD":"14
        Jan 2020","BoxOffice":"N/A","Production":"Paramount Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 27 Mar 2020 19:50:16 GMT
recorded_with: VCR 5.1.0
