%nav.navbar.navbar-expand-md.navbar-fixed-top.main-nav
  .container
    %ul.nav.navbar-nav.mx-auto
      %li.nav-item
        %a.nav-link{:href => "#"} MustSee
    %ul.nav.navbar-nav
      %li.nav-item
        %a.nav-link{:href => "#"} Login
